@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Leah's Sporting store came about from a love of sports and wanting to offer sporting goods at an afforable costs.'.</p>
<ul>
<li> Leah grew up loving sports but was from a low income home. She always had second or third generation hand me downs.</li>
<li> A mission of Leah's Sporting is to offer quality equipment to low income families</li>
</ul>