@{
    ViewData["Title"] = "Contact Us";

}

<p>If you have an questions or concerns you can contact us at:</p>

<address>
1-800-234-5678<br />
<a href ="emailto:help@LeahSporting.com">help@leahSporting.com</a>
</address>